      <div class="position-change">
      <%= image_tag @user.avatar_image.url,class: "avatar-image" %>
      <span style="color:#657786;">ユーザネーム</span>
    <h4><%= @user.name %></h4><span style="color:#657786;"><%= @user.gender %></span>
<p><%= @user.introduce %></p>
     </div>