<div class="position-change">
	<%= image_tag @user.avatar_image.url,class: "avatar-image" %>
      <span style="color:#657786;">ユーザネーム (<%= @user.gender %>)</span>
      <h4><%= @user.name %></h4>
      <p><%= @user.introduce %></p>
</div>