<div class="about-bg">
	<div class="row">
		<div class="about-container">
			<ul class="nav nav-tabs">
    			<li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">サイト / 制作理由</a></li>
    			<li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">制作期間 / スキル</a></li>
    			<li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">導入機能</a></li>
  			</ul>
  			<div class="tab-content">
    			<div id="tab1" class="tab-pane active">
				    <p class="about-title">PhotoPeはどんなサイト？</p>
				    <p class="about-heading">動物専用画像&動画特化型SNSサイト</p>
				    <p class="about-title">このサイトを制作しようと思った理由は？</p>
				    <p class="about-heading">➀ SNS制作は学習効率が良さそうだった為</p>
				    <p class="about-text">2ヶ月間のプログラミング学習で学んだスキルを存分に生かせ、</p>
				    <p class="about-text">新しい知識も多く学べるサイトを作りたいと思い...</p>
				    <p class="about-text">その両方を満たせそうかなと考えて､SNS制作に決めました｡</p>
				    <p class="about-heading">➁ 動物好きのSNSがあったら良いなという想い...</p>
				    <p class="about-text">SNS制作に決めた後テーマを動物特化型にしたのは､動物好きが</p>
				    <p class="about-text">集まり､投稿し合い､繋がるコミュニティがあったら､</p>
				    <p class="about-text">楽しそうだなという思いと､同じように感じている人もいるかも</p>
				    <p class="about-text">知れないという想いから､このテーマにしました｡</p>
    			</div>
    			<div id="tab2" class="tab-pane">
      			<p class="about-title"">製作期間はどのくらい？</p>
            <p class="about-heading">2019年3月1日〜3月31日　丸1ヶ月間</p>
            <p class="about-title">そのときの学習状況はどのくらい？</p>
            <p class="about-heading">本格的に学習開始してから3ヶ月目</p>
            <p class="about-text" style="padding-top: 10px;">2018年12月 Progateでプログラミングを学ぶ｡<br>HTML＆CSS / Ruby / Rails少し</p>
            <p class="about-text" style="padding-top: 10px;">2019年1月〜 プログラミングスクールに通い本格的に学習開始｡</p>
            <p class="about-text" style="padding-top: 10px;">1月: 課題付きカリキュラムでHTML＆CSS / Ruby / Railsを主に学ぶ。<br>又、 JS / jQuery / Git / AWS等にも触れる｡</p>
            <p class="about-text" style="padding-top: 10px;">2月: 4人1組でECサイトのチーム開発をする｡機能設計 / 画面設計 /<br> DB設計 / AP設計 / 開発実装等を学ぶ｡</p>
    			</div>
    			<div id="tab3" class="tab-pane">
      			<p class="about-title"">サイト制作に導入した機能</p>
            <p class="about-heading">ユーザ管理機能</p>
            <p class="about-text">・ユーザ登録/編集/削除機能</p>
            <p class="about-text">・ログイン/ユーザ認証機能</p>
            <p class="about-heading">投稿機能</p>
            <p class="about-text">・画像投稿/削除機能</p>
            <p class="about-text">・動画投稿/削除機能</p>
            <p class="about-text">・モーダルウィンドウ表示</p>
            <p class="about-text">・ヘッダー表示でどのページからでも投稿可</p>
            <p class="about-heading">検索機能</p>
            <p class="about-text">・ジャンル検索機能</p>
            <p class="about-text">・ユーザ検索機能</p>
            <p class="about-text">・ユーザ検索はヘッダー表示でどのページからでも可</p>
            <p class="about-heading">いいね機能</p>
            <p class="about-text">・いいね登録/解除機能</p>
            <p class="about-text">・非同期通信化</p>
            <p class="about-text">・いいねをくれた人の一覧をモーダルウィンドウ表示</p>
            <p class="about-heading">フォローフォロワー機能</p>
            <p class="about-text">・フォロー登録/解除機能</p>
            <p class="about-heading">コメント機能</p>
            <p class="about-text">・コメント投稿/削除機能</p>
            <p class="about-text">・非同期通信化</p>
            <p class="about-heading">ダイレクトメッセージ機能</p>
            <p class="about-text">・メッセージ投稿/削除機能<br>(投稿者には即時反映/双方向通信は未対応)</p>
            <p class="about-heading">管理機能</p>
            <p class="about-text">・各項目の管理機能を実装</p>
            <p class="about-heading">ページャ機能</p>
            <p class="about-text">・ユーザ一覧/マイページの投稿/フォロー/<br>フォロワー/いいねページに実装</p>
            <p class="about-heading">無限スクロール機能</p>
            <p class="about-text">・投稿一覧ページに実装</p>
            <p class="about-heading">リアルタイム文字数カウント機能</p>
            <p class="about-text">・ユーザ情報編集/投稿/コメント入力欄に実装</p>
   	 			</div>
  			</div>
		</div>
	</div>
</div>