<div class="index-container">
	<div id="pictures-flex">
		<%= render partial: 'picture', collection: @pictures %>
		<div class="page-none">
		<%= paginate @pictures %>
		</div>
	</div>
</div>
<div class="page-load">
	<%= image_tag "load.gif",size:'30x30' %>
</div>