/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
	margin-top: 50px;
	background-color: #fafafa;
}
header {
	background-color: #0e0e0e;
  	position:fixed;
  	top:0;
  	left:0;
  	width:100%;
  	height: 50px;
  	z-index:1070;
}
a:hover {
	text-decoration: none;
}
/*Login & Signup Form (Start)*/
.main-container {
	margin: 0 auto;
}
.color-container {
	background-color: #fcf8e3;
}
.login-title {
	text-align: center;
	padding: 25px 0 15px;
	font-weight: bold;
	color: #337ab7;
}
.signup-title {
	text-align: center;
	padding: 25px 0 15px;
	font-weight: bold;
	color: #190707;
}
.login-box {
	margin: 0 auto;
	padding: 20px 32px 40px;
	width: 400px;
	border: #D8D8D8 1px solid;
}
.signup-box {
	margin: 0 auto;
	padding: 20px 32px 20px;
	width: 300px;
	border: #D8D8D8 1px solid;
}
.input-item {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 30px;
}
.action-center {
	text-align: center;
}
.execution-btn {
	margin-top:10px;
	width: 250px;
	height: 40px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 30px;
	z-index: 1;
}
.execution-btn:hover {
	animation: animate 8s linear infinite;
}
@keyframes animate {
	0%
	{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}
}
.sub-title {
	letter-spacing: 1px;
	color: #aaa;
	margin: 20px;
}
.sub-title span {
	padding: 0 20px;
}
.register-link {
	text-align: center;
}
.register-btn {
	width: 250px;
	height: 40px;
	line-height: 30px;
	background-color: #81F781;
	font-size: 20px;
	color: white;
}
/*Login & Signup Form (End)*/
/*無限スクロールでページャ表示を消すため*/
.page-none {
	display: none;
}
/*無限スクロールでページャ表示を消すため*/
.picture-btn {
	background-color: #4dc7b7;
    color: white;
    margin-left: 15px;
    margin-top: 4px;
    border-radius: 30px;
    height: 30px;
}
.home-link {
    font-size: 30px;
    font-family: cursive;
}